.MusicUploadForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
  width: 100%;

  input {
    width: 30%;
    color: #fff;
    margin: 0 auto;
  }

  input[type="file"]::file-selector-button {
    border: 1px solid #fff;
    padding: 6px 8px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: transparent;
  }

  .buttonBody {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
  }

  .glowButton {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 14px;
    background: none;
    perspective: 4rem;
    font-size: 1.2rem;
    letter-spacing: 16px;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px #fff;
    -moz-box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px #fff;
    box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px #fff;
    animation: border-flicker 2s linear infinite;
  }

  .glowText {
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    animation: text-flicker 3s linear infinite;
  }

  .blinkingLetter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  .glowButton::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1rem);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: #fff;
    pointer-events: none;
  }

  .glowButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
    box-shadow: 0 0 2em 0.2em #808080;
    transition: opacity 100ms linear;
  }

  .glowButton:hover {
    text-shadow: none;
    color: #fff;
    animation: none;
  }

  .glowButton:hover .glowText {
    animation: none;
  }

  .glowButton:hover .blinkingLetter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }

  .glowButton:hover:before {
    filter: blur(1.5rem);
    opacity: 1;
  }

  .glowButton:hover:after {
    opacity: 1;
  }

  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
    87% {
      opacity: 1;
    }
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    8% {
      opacity: 0.1;
    }
    9% {
      opacity: 1;
    }
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }

  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .MusicUploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;

    input[type="file"] {
      width: 80%;
    }
  }

  .buttonBody {
    width: 60%;

    .glowText {
      font-size: 0.8rem;
    }
  }
}
